<?xml version="1.0"?>
<configuration>
	<system.web>
		<authentication mode="Windows" />
		<!--
		<authorization>
			<deny users="?" />
		</authorization>
		-->
		<compilation debug="true" targetFramework="4.0" />
		<identity impersonate="true" />
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
</configuration>